/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/storage
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
database/.gitignore
public/test.php
composer.lock
.idea/*
.gitignore
resources/css/app.css
